.container
{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.headbar
{
	display: flex;
    align-items: center;
    padding: 6px;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: white;
	flex-shrink: 0;
    box-sizing: border-box;
}
.headbar-wrapper
{
	display: inline-block;
    flex-grow: 1;
}
.headbar-content 
{
	height: 48px;
	min-width: auto;
	font: 13px/27px Roboto,Arial,sans-serif;
    z-index: 986;
    position: relative;
}
.menu-wrapper
{
	float: right;
	padding-left: 32px;
	height: 20px;
	line-height: normal;
	box-sizing: border-box;
    padding: 0 4px;
	position: relative;
	height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}
.menu-words
{
	font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}
.pictures, .email
{
    display: inline-block;
    padding-left: 15px;
    color: black;
}
.svg-icon
{
    font: 13px/27px Roboto,Arial,sans-serif;
    white-space: nowrap;
    line-height: normal;
    cursor: pointer;
    fill: currentColor;
    color: rgba(255,255,255,0.87);
    d: path("M 6 8 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 12 20 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 6 20 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 6 14 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 12 14 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 16 6 c 0 1.1 0.9 2 2 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 Z M 12 8 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 18 14 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z M 18 20 c 1.1 0 2 -0.9 2 -2 s -0.9 -2 -2 -2 s -2 0.9 -2 2 s 0.9 2 2 2 Z");
}



.logo-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
}
.icon-google
{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}
.icon-google-png 
{
    width: 5px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.icon-options 
{
    width: 30px;
    padding: 4px;
    padding-top: 8px;
}
.button-entry
{
    text-decoration: none;
    color: #fff;
    margin-left: 8px;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.searchbar
{
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.searchbar-wrapper
{
    margin: 0 auto;
    width: calc(632px + 8px);
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}
.form
{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
}
.form1
{
    flex: 0;
    display: flex;
    padding: 5px 8px 0 14px;
}
.loopa
{
    display: flex;
    align-items: center;
}
.loopa1
{
    margin: auto;
}
.loopa2
{
    height: 20px;
    line-height: 20px;
    width: 20px;
    fill: #9aa0a6;
}
.text-form
{
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    width: -webkit-fill-available;
}
.text-form1
{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0px;
    height: 100%;
    font-size: 16px;
}
.clava
{
    flex: 0 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}
.clava1 
{
    background: url("https://www.gstatic.com/inputtools/images/tia.png") no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.voice
{
    width: 24px;
    padding: 8px;
    margin-right: 8px
}
.search-options
{
    align-items: center;
    height: 70px;
    padding-top: 18px;
}
.searching
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.luck
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.bottom
{
    background: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.country
{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
}
.info
{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    text-decoration: none;
}
.opt1
{
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
}
.opt2
{
    order: 0;
    width: 100%;
    justify-content: center;
}
.opt3
{
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    display: flex;
    flex-wrap: wrap;

}
.bottom a
{
    text-decoration: none;
}